.graficos {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.grafico-com-legenda {
  display: flex;
  flex-direction: column;
}
.legenda {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 13px;
  overflow: hidden;
  border-radius: 5px;
  border-color: #f2f2f2;
  border-style: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.legenda h2 {
  margin-bottom: 15px;
  color: #000;
  font-size: 10px;
  font-weight: bolder;
}

.legenda table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  border-color: #f2f2f2;
  border-style: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.legenda th,
.legenda td {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 10px;
  text-align: left;
}

.legenda tr:nth-child(odd) {
  background-color: #ffffff;
}

.legenda th {
  background-color: #80549f;

  color: #fff;
}

.legenda tr:hover {
  background-color: #ddd;
}

#consultar {
  height: 100vh;
}
