.form-group input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border-color: #f2f2f2;
  border-style: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding-left: 50px;
}

.form-group .error-message {
  color: red;
  font-size: 12px;
  position: relative;
  bottom: 5px;
  left: 10px;
}

.form-group .input-error {
  outline: 1px solid red;
}

.consultar {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: none;
  margin-left: 50px;
  margin-right: 50px;
}

.consultar .corpo {
  border-radius: 5px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
  margin-top: 25px;
}

.botoes {
  display: flex;
}

.botoes .btnAll {
  width: 100%;
}

.botoes .btnSalvar {
  width: 100%;
}

.botoes .divVazia {
  width: 5%;
}

.mostrarTodosConsultar {
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
  width: 100%;
  border-radius: 10px;
  border-color: #fafafa;
  border-style: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

.input-container {
  position: relative;
}

.input-container input {
  width: calc(100% - 40px);
  background-color: transparent;
}

.input-container button {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 100px;
  bottom: 0;
  width: 100px;
  padding: 0 0;
}

.input-container img {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}

.input-container .img-filtro {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-120%);
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
}

.pagination button {
  cursor: pointer;
  font-size: 16px;

  margin: 0 0;
  width: 30px;
  margin: 5px;
  height: 30px;
  border-radius: 50%;
  padding: 0px 0px;
}

.page-number {
  display: inline-block;
  width: 40px;
  margin-left: 15px;
  margin-right: 15px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  color: #000000;
  text-align: center;
  line-height: 30px;
  transition: background-color 0.8s ease-out;
}

.page-number.active {
  border: 1px solid #80549f;
  color: #80549f;
}

.page-number:hover {
  border: 1px solid #80549f;
  color: #80549f;
}

.thead-consultar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 900px;
  height: 750px;
}

thead th {
  background-color: transparent;
  color: black;
  font-size: 12px;
}

.mostrarTodosConsultar thead tr th:hover {
  background-color: transparent;
}

.mostrarTodosConsultar tr:hover {
  background-color: #dcdcdc;
}

.tr-dados {
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  width: 200px;
  height: 50px;
  background-color: #80549f;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.arrowup:hover {
  cursor: pointer;
}

.arrowdown:hover {
  cursor: pointer;
}

.mostrarTodosConsultar thead tr th:first-child {
  border-top-left-radius: 10px;
}

.mostrarTodosConsultar thead tr th:last-child {
  border-top-right-radius: 10px;
}

.mostrarTodosConsultar tbody tr:last-child:hover td:first-child {
  border-bottom-left-radius: 10px;
}

.mostrarTodosConsultar tbody tr:last-child:hover td:last-child {
  border-bottom-right-radius: 10px;
}

.pagination-button {
  cursor: pointer;
  font-size: 16px;
  color: white;
  margin: 0 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0px 0px;
  background-color: #80549f;
  color: white;
}

.pagination-button.disabled {
  background-color: white;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
}

.filters-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0 7px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
  transition: width 1s ease;
  width: 0;
}

.show-sidebar {
  width: 300px;
}

.hide-sidebar {
  width: 0px;
}

.close-filters {
  background-color: #fff;
  color: #80549f;
  border-radius: 7px;
  border: #80549f 1px solid;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-right: 15px;
}

.close-filters:hover {
  background-color: #80549f;
  color: #fff;
}

.filter-section {
  margin-bottom: 20px;
  margin-right: 30px;
  cursor: pointer;
}

.apply-filters {
  background-color: #80549f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 15px;
  border-radius: 7px;
}

.apply-filters:hover {
  background-color: #80549f;
}

.botao-filtro {
  display: flex;
}

.ajuste-filtro {
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.h4-filtro,
.h4-filtro-cor {
  font-family: "Roboto", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 18px;
  margin-left: -15px;
  margin: 0 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.dentro-filtro {
  margin-left: 30px;
  margin-bottom: 60px;
}

.h2-filtro {
  margin-bottom: 60px;
  margin-top: 40px;
}

.caixa-filtro {
  display: flex;
  justify-content: space-between;
}

.h4-filtro-cor {
  color: #80549f;
  font-size: 22px;
}

.dentro-filtro label {
  order: 2;
}

.dentro-filtro input {
  order: 2;
  margin-left: 80px;
}

.input-filtro {
  width: auto;
}

.botoes-consultar {
  display: flex;
  width: 100%;
  justify-content: start;
}

.botoes-consultar button {
  margin-left: 10px;
  width: 200px;
}
