.cadastromovel {
  height: 100vh;
}

.escolhapatrimonio {
  margin: 30px;
  width: 370px;
  height: 400px;
  border-radius: 5px;
  border-color: #f2f2f2;
  border-style: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  justify-content: center;
  border-radius: 10px;
}

.caixaroxa {
  position: relative;
  width: 340px;
  height: 230px;
  background-color: #f3e1ff;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  display: flex;
}

.caixaescolha {
  display: grid;
  justify-content: center;
  margin-top: 15px;
}

.escolha {
  justify-content: center;
  display: flex;
}

.caixaroxa:hover {
  background-color: #80549f;
  transition: all 0.8s ease;
}

.p-exemplos {
  color: #909090;
}

.texttipopatrimonio {
  font-weight: 500;
}

.botaoescolhapatrimonio {
  background-color: white;
  color: #80549f;
  border: 1px solid #80549f;
  border-radius: 10px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
}

.botaoescolhapatrimonio:hover {
  color: white;
  background-color: #80549f;
}

.hovered .caixaroxa {
  background-color: #80549f;
}
