.cadastromovel {
  height: 100vh;
}

.escolhapatrimonio {
  margin: 30px;
  width: 370px;
  height: 410px;
  border-radius: 5px;
  border-color: #f2f2f2;
  border-style: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  justify-content: center;
  border-radius: 10px;
}

.caixaroxa {
  position: relative;
  width: 340px;
  height: 230px;
  background-color: #f3e1ff;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  display: flex;
}

.caixaescolha {
  display: grid;
  justify-content: center;
  margin-top: 15px;
}

.escolha {
  justify-content: center;
  display: flex;
}

.caixaroxa:hover {
  background-color: #80549f;
  transition: all 0.8s ease;
}

.p-exemplos {
  color: #909090;
}

.texttipopatrimonio {
  font-weight: 500;
}

.botaoescolhapatrimonio {
  background-color: white;
  color: #80549f;
  border: 1px solid #80549f;
  border-radius: 10px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
}

.botaoescolhapatrimonio:hover {
  color: white;
  background-color: #80549f;
}

.hovered .caixaroxa {
  background-color: #80549f;
}

@media (max-width: 1250px) {
  .escolha {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  .arrumawidth {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 750px) {
  .escolha {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }

  .arrumawidth {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .escolhapatrimonio {
    margin: 30px;
    width: 270px;
    height: 350px;
    border-radius: 5px;
    border-color: #f2f2f2;
    border-style: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
    border-radius: 10px;
  }

  .caixaroxa {
    position: relative;
    width: 240px;
    height: 190px;
    background-color: #f3e1ff;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    display: flex;
  }

  .caixaroxa img {
    width: 100px;
  }

  .texttipopatrimonio {
    font-size: 18px;
  }

  .botaoescolhapatrimonio {
    background-color: white;
    color: #80549f;
    border: 1px solid #80549f;
    border-radius: 10px;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
  }

  .img-redimensionada-animacao {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(60%) translateY(100%) translateZ(0px) !important;
  }
}
