.telaRegistro .form-Registro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 900px;
  height: 1000px;
}

.preencherDadosRegistro {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: white;

  max-width: 350px;
  padding: 20px;
  border-radius: 5px;
}
.preencherDadosRegistro input {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  border-color: #f2f2f2;
  border-style: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding-left: 30px;
}
.btnRegistro {
  width: 340px;
  color: #80549f;
  font-family: sans-serif;
}

.preencherDadosRegistro label {
  font-size: 18px;
  font-weight: 600;
  color: #676767;
}

.preencherDadosRegistro strong {
  cursor: pointer;

  text-decoration: none;
  color: #676767;
}

.cadastrar {
  font-size: 16px;
  color: #676767;
}

.errorLogin {
  color: red;
}

.tituloRegistro,
p,
h2,
.form-Registro {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tituloRegistro p {
  font-size: 12px;
  letter-spacing: 3px;
  color: #acacac;
}

.tituloRegistro h2 {
  font-size: 25px;
  letter-spacing: 1px;
  color: #000000;
}

.telaRegistro button:hover {
  background-color: #53a2cb;
}

.telaRegistro .navlink-registrar:hover {
  color: #53a2cb;
}
.telaRegistro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quadradosSuperiores,
.quadradosInferiores {
  position: absolute;
}

.quadradosSuperiores {
  top: 0%; /* Ajuste conforme necessário */
  left: 0%; /* Ajuste conforme necessário */
  margin-left: -8px;
  margin-top: -8px;
}

.quadradosInferiores {
  bottom: 0%; /* Ajuste conforme necessário */
  right: 0%; /* Ajuste conforme necessário */
  margin-right: -8px;
  margin-bottom: -8px;
}

.quadrado {
  width: 80px; /* Ajuste conforme necessário */
  height: 80px; /* Ajuste conforme necessário */
}

.quadrado.verde {
  background-color: #66a959;
}

.quadrado.azul {
  background-color: #53a2cb;
}

.quadrado.amarelo {
  background-color: #f6a51e;
}

.quadrado.roxo {
  background-color: #80549f;
}

@media (max-width: 768px) {
  .quadradosSuperiores {
    top: 3%; /* Ajuste conforme necessário */
    left: 3%; /* Ajuste conforme necessário */
  }

  .quadradosInferiores {
    bottom: 3%; /* Ajuste conforme necessário */
    right: 3%; /* Ajuste conforme necessário */
  }
}

.quadradosSuperiores .quadrado.azul {
  margin-top: -80px;
  margin-left: 80px;
}

.quadradosInferiores .quadrado.verde {
  margin-left: -80px;
  margin-bottom: -80px;
}
