#chamativo {
  font-family: sans-serif;
  text-align: center;
  margin: 100px auto;
  width: auto;
  display: block;
}

#zettaIcon {
  height: 120px;
  width: auto;
  display: block;
  margin: 70px auto;
}

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 70px;
}

.body-home {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 420px;

  height: 220px;
  padding: 20px;
}

.info-home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.info-home h2 {
  font-size: 16px;
  margin: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.body-home h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 70px;
  margin: 0;
  margin-top: 30px;
  margin-left: 100px;
}

.p-mes p {
  font-size: 16px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #909090;
}

.homebody {
  height: 100vh;
}

.imgzetta {
  text-align: center;
  margin-top: 300px;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: auto;
}
