.data-container {
  color: white;
  padding: 10px;
  margin-top: 55px;
  background-color: #fafafa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.data-container label {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}
.container-busca {
  text-align: end;
  font-size: 16px;
}

.data-container img {
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.container-busca body {
  overflow: hidden;
}

.container-busca {
  font-family: sans-serif;

  justify-content: left;
  align-items: flex-start;
}

.container-busca ul {
  display: contents;
  color: black;
}

.container-busca li {
  font-family: sans-serif;
  font-size: 10px;
  list-style: none;
  text-align: left;
  justify-content: flex-start;
}

.save {
  color: black;
}

.save:hover {
  cursor: pointer;
  color: #45a049;
}

.delete {
  color: black;
}

.delete:hover {
  cursor: pointer;
  color: #45a049;
}

.error-message {
  color: #d70000;
  font-size: 12px;
  position: relative;
  bottom: 5px;
  left: 10px;
}
.save-div {
  margin-left: 15px;
}

.input-error {
  outline: 1px solid #d70000;
}

.imgBusca {
  display: flex;
  padding: 10px;
}

.container-busca input {
  padding: 12px 15px;
  width: 100%;
}

.corpo {
  font-family: sans-serif;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.caixas p {
  text-align: left;
  margin-left: 30px;
  color: #909090;
  font-size: 11px;
}

.caixas-notas input {
  margin-bottom: 8px;
  width: 100%;
}

.caixas label {
  font-weight: bolder;
  font-size: 13px;
}

.comunicado {
  color: black;
  font-size: 15px;
  margin-left: 10px;
}

.caixas {
  padding: 5px;
}

.input-editar {
  border-color: #f2f2f2;
  border-style: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #676767;
  padding: 10px;
  text-indent: 35px;
  height: 50px;
  cursor: pointer;
  width: 90%;
  margin-left: 25px;
}

.select-edit {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  border-style: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #676767;
  padding: 10px;
  text-indent: 35px;
  font-size: 10px;
  height: 40px;
  cursor: pointer;
  width: 98%;
  margin-left: 25px;
}

.botoesEditar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.lixeira {
  margin-top: 10px;
}
